<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ title }} {{ config.serverName }}</title>
    <link rel="stylesheet" href="/css/app.css">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <noscript>Ah damm, javascript not enabled on browser</noscript>
    <div id="root"></div>
</body>
<script src="/js/app.js"></script>
</html>