@import './bootstrap.scss';
@import './fonts.scss';

.rounded {
    border-radius: 4px;
}

html, body {
    overflow: hidden ;
}

button {
    outline: none !important;
}

.card-auth {
    max-width: 420px;
    width: 100%;
}
body {
   background-color: #F7F5FB
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes updown {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}


.login-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F7F7F7;

    input {
        border-top: none;
        border-right: none;
        outline: none;
        border-radius: 0;
        border-left: none;
        border-bottom: 2px solid #C8C8C8;
        &:hover, &:focus {
            border-color: var(--primary);
        }
    }


    .logo-micron {
        // animation-name: spin;
        // animation-duration: 4s;
        // animation-timing-function: linear;
        // animation-iteration-count: infinite;
    }
    .login-space {
        flex: 0 0 calc(100% - 550px);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            transform: translateY(20px);
            width: 100%;
            max-height: 500px;
            // animation-name: updown;
            animation-duration: 7s;
            // animation-timing-function: linear;
            animation-iteration-count: infinite;

        }
    }
    .login-main {
        height: 100vh;
        flex: 0 0 550px;
        display: flex;
        max-width: 550px;
        justify-content: center;
        padding: 0 55px;
        background-color: #fff;
        align-items: center;
        @include media-breakpoint-down(sm) {
            padding: 0 15px;
        }
        label {
            font-weight: 500;
            font-size: 18px;
        }
    }
}

.font-weight-semi-bold {
    font-weight: 550;
}
.shadow {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.05) !important;
}
.list-nav li a {
    padding-top: 12px !important;
    border-radius: 0 !important;
    padding-bottom: 12px !important;
}

// dashboard
.row-side {
    width: 100%;
    height: 100vh;
    clear: both;
}
.left-side {
    width: 80px;
    float:left;
    height: 100vh;
    background-color: #fff;
    overflow-y: hidden;
    position: relative;
    z-index: 9;
    box-shadow: -4px -0px 10px 1px rgba(0, 0, 0, 0.1);
    ul {
        list-style: none;
        padding: 15px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        li {
            margin-bottom: 18px;
            &.logout {
                margin-top: auto;
                margin-bottom: 0 !important;
            }
            a {
                height: 50px;
                width: 50px;
                margin: auto;
                display: flex;
                justify-content: center;
                flex-direction: column;
                outline: none;
                text-decoration: none;
                background-color: transparent;
                overflow: hidden;
                border-radius: 4px;
                border: none;
                font-size: 40px;
                align-items: center;
                &.active {
                    background-color: var(--primary);
                    color:  #fff !important;
                }
            }
        }
    }
}
.main-layout {
    width: calc(100% - 80px);
    float:left;
    max-height: 100vh;
    overflow-y: auto;
    // padding-bottom: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .footer {
        padding-top: 10px;;
        margin-top: auto;
    }
    .logo-micron {
        
    }
}

// dashboard main
.dash-header {
    background-color: var(--primary);
    .card-header-main {
        display: block;
        border: none;
        margin-top: 10px;
        border-radius: 4px !important;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.04);
        .card-header {
            h5 {
                font-size: 16px !important;
            }
        }
        .card-body {
            height: 320px;
        }
        &.mini {
            height: 174px !important;
            .card-body {
                height: 83px;
                display: flex;
                .usage {
                    width: calc(100% - 70px);
                }
                h2 {
                    font-size: 46px !important;
                    margin-bottom: 0 !important;
                }
                .flying-icon {
                    width: 70px;
                    span {
                        height: 50px;
                        margin-left: auto;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--primary);
                        padding: 8px;
                        border-radius: 100%;
                        color: #fff;
                    }
                }
            }
        }
        .flying-icon {

        }
    }
    .header-list {
        height: 100px;
        width: 100%;
    }
    .list-type {
        .list-group-item {
            clear: both;
            overflow: hidden;
            padding: 7px 0px !important;
            .list-type {
                width: 130px;
                float: left;
                span {
                    font-weight: 500;
                }
            }
            .list-desc {
                float: left;
                width: calc(100% - 130px);
            }
        }
    }
}
.dash-main {
    margin-top: 120px;
}


// mini dash header
.dash-header-mini {
    background-color: var(--primary);
    height: 90px;
    width: 100%;
}
.dash-layout-tree {
    min-width: 1000px;
    
    .card-repo {
        position: relative;
        height: 175px;
        // background-color: #FFF8F2;//rgba($color: #FF9234, $alpha: .1);
        border-radius: 4px !important;
        overflow: hidden;
        .back-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 900px;
            width: 900px;
            width: 100%;
            // z-index: -1;
            opacity: .1;
            object-fit: cover;
        }
        .main-card {
            position: absolute;
            top: 0;
            left: 0;
            height:100%;
            width: 100%;
            color: #5C5C5C !important;
            h3 {
                color: var(--dark) !important;
            }
            h4 {
                font-weight: normal !important;
            }
        }
        .list-process {
            margin-top: 20px;
            clear: both;
            .list-icon {
                float: left;
                width: 50px;
                i {
                    &.ic-process {
                        font-size: 26px;
                    }
                    &.ic-deploy {
                        font-size: 22px;
                    }
                }
            }
            .list-data {
                font-size: 18px;
                float: left;
                width: calc(100% - 50px);
            }
        }
    }
    .card-repo, .add-new-repo {
        position: relative;
        transition: .2s ease;
        top: 0;
        &:hover {
            top: -5px;
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
        }
    }
    .add-new-repo {
        height: 175px;
        width: 175px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        background-color: var(--primary) ;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 100px;
            color: #fff;
            font-weight: 200 !important;
        }
    }
}